---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Experience from '../components/Experience.astro'
import Proyects from '../components/Proyects.astro'
import About from '../components/About.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Juan Rodriguez">
  <Header />
  <main class="grid content-center px-3 w-full">
    <About />
    <Experience />
    <Proyects />
  </main>
  <Footer />
</Layout>
