---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="grid content-center m-5">
    <div class="mt-10">
      <div class="flex items-center gap-5 mb-10">
        <div class="w-28 h-28 bg-white rounded-full"></div>
        <div class="flex flex-col justify-end">
          <h1 class="text-xl font-semibold">Juan David Rodriguez Hernandez</h1>
          <h2 class="text-lg font-light">FrontEnd Developer</h2>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
        consequat. Nibh sem ut in magna suspendisse. Morbi egestas sed nec
        congue mattis nibh. Ultrices leo vitae neque vestibulum in ultricies
        auctor. Purus et arcu ridiculus tristique massa. Ipsum ante ut est
        feugiat donec scelerisque et. Risus fames luctus suspendisse suscipit.
        Neque nisl arcu massa orci. Nisl vulputate nulla lorem nulla faucibus
        quam eu. Blandit lorem elementum eget ultricies adipiscing. Est a
        feugiat non euismod interdum proin risus malesuada.
      </p>
    </div>

    <div class="mt-20">
      <h1 class="text-4xl font-semibold">Acerca de mi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
        consequat. Nibh sem ut in magna suspendisse. Morbi egestas sed nec
        congue mattis nibh. Ultrices leo vitae neque vestibulum in ultricies
        auctor. Purus et arcu ridiculus tristique massa. Ipsum ante ut est
        feugiat donec scelerisque et. Risus fames luctus suspendisse suscipit.
        Neque nisl arcu massa orci. Nisl vulputate nulla lorem nulla faucibus
        quam eu. Blandit lorem elementum eget ultricies adipiscing. Est a
        feugiat non euismod interdum proin risus malesuada.
      </p>
    </div>

    <div class="mt-20">
      <h1 class="text-4xl font-semibold">Experiencia</h1>
      <ul class="my-5">
        <li>Indra Company - Software Engineer/ Desarrollador React</li>
        <li>Indra Company - Software Engineer/ Desarrollador React Native</li>
        <li>Agencia Droi S.A.S - Lider de equipo de desarrollo</li>
        <li>Agencia Droi S.A.S - Desarrollador fullStack</li>
      </ul>
    </div>

    <div class="mt-20">
      <h1 class="text-4xl font-semibold">Proyectos</h1>
      <div class="grid grid-cols-1 gap-5 bg-slate-700 p-5 mt-5">
        <div class="bg-slate-900 p-8">
          <img class="aspect-square w-64 m-auto" src="" alt="" />
          <h5>Proyecto 1</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
            consequat. Nibh sem ut in magna suspendisse.
          </p>
        </div>
        <div class="bg-slate-900 p-8">
          <img class="aspect-square w-64 m-auto" src="" alt="" />
          <h5>Proyecto 1</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
            consequat. Nibh sem ut in magna suspendisse.
          </p>
        </div>
        <div class="bg-slate-900 p-8">
          <img class="aspect-square w-64 m-auto" src="" alt="" />
          <h5>Proyecto 1</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
            consequat. Nibh sem ut in magna suspendisse.
          </p>
        </div>
        <div class="bg-slate-900 p-8">
          <img class="aspect-square w-64 m-auto" src="" alt="" />
          <h5>Proyecto 1</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
            consequat. Nibh sem ut in magna suspendisse.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
