---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="grid content-center m-5">
    <div class="mt-10">
      <div class="flex items-center gap-5 mb-10">
        <div class="w-28 h-28 bg-white rounded-full"></div>
        <div class="flex flex-col justify-end">
          <h1 class="text-xl font-semibold">Juan David Rodriguez Hernandez</h1>
          <h2 class="text-lg font-light">FrontEnd Developer</h2>
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
        consequat. Nibh sem ut in magna suspendisse. Morbi egestas sed nec
        congue mattis nibh. Ultrices leo vitae neque vestibulum in ultricies
        auctor. Purus et arcu ridiculus tristique massa. Ipsum ante ut est
        feugiat donec scelerisque et. Risus fames luctus suspendisse suscipit.
        Neque nisl arcu massa orci. Nisl vulputate nulla lorem nulla faucibus
        quam eu. Blandit lorem elementum eget ultricies adipiscing. Est a
        feugiat non euismod interdum proin risus malesuada.
      </p>
    </div>

    <div class="my-20">
      <h1 class="text-3xl font-semibold">Acerca de mi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium
        consequat. Nibh sem ut in magna suspendisse. Morbi egestas sed nec
        congue mattis nibh. Ultrices leo vitae neque vestibulum in ultricies
        auctor. Purus et arcu ridiculus tristique massa. Ipsum ante ut est
        feugiat donec scelerisque et. Risus fames luctus suspendisse suscipit.
        Neque nisl arcu massa orci. Nisl vulputate nulla lorem nulla faucibus
        quam eu. Blandit lorem elementum eget ultricies adipiscing. Est a
        feugiat non euismod interdum proin risus malesuada.
      </p>
    </div>
  </main>
</Layout>
