---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Experience from '../components/Experience.astro'
import Proyects from '../components/Proyects.astro'
import About from '../components/About.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="grid content-center m-5 md:w-[80%] lg:w-[70%] md:m-auto">
    <About />
    <Experience />
    <Proyects />
  </main>
</Layout>
