---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-center text-white text-2xl">Hola</h1>
  </main>
</Layout>
