<h1 class="text-4xl font-semibold">Acerca de mi</h1>
<p>
  Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium consequat.
  Nibh sem ut in magna suspendisse. Morbi egestas sed nec congue mattis nibh.
  Ultrices leo vitae neque vestibulum in ultricies auctor. Purus et arcu
  ridiculus tristique massa. Ipsum ante ut est feugiat donec scelerisque et.
  Risus fames luctus suspendisse suscipit. Neque nisl arcu massa orci. Nisl
  vulputate nulla lorem nulla faucibus quam eu. Blandit lorem elementum eget
  ultricies adipiscing. Est a feugiat non euismod interdum proin risus
  malesuada.
</p>
