<section id="about" class="h-screen flex items-center">
  <div class="flex items-center">
    <div class="flex flex-col justify-end flex-1">
      <h1 class="text-xl md:text-3xl lg:text-8xl font-semibold mb-3">
        Juan Rodriguez
      </h1>
      <h2
        class="text-lg md:text-xl lg:text-3xl font-light bg-gradient-to-r from-[#E03C47] from-0% via-[#AB35A0] via-15% to-[#8222A5] to-100% bg-clip-text text-transparent"
      >
        FrontEnd Developer
      </h2>
      <div class="my-5 w-3/4 border-t"></div>
      <p class="w-4/5 text-lg leading-8 my-5">
        Desarrollador <strong class="text-[#b790c5]">frontend</strong> innovador,
        apasionado por la creación de experiencias digitales
        <strong class="text-[#b790c5]">excepcionales</strong>. Experto en el
        diseño y desarrollo de interfaces intuitivas, fusionando habilidades
        técnicas con un enfoque centrado en el
        <strong class="text-[#b790c5]">usuario</strong>. Busco constantemente
        elevar el estándar en la
        <strong class="text-[#b790c5]">interacción digital</strong>, creando
        soluciones que cautiven e inspiren a cada usuario, impulsando así la
        innovación en cada proyecto.
      </p>
      <div class="flex mb-5 gap-5">
        <button
          class="bg-[#8F3976] hover:bg-[#58244a] px-4 py-1 rounded-md text-lg"
          type="button">Descargar CV</button
        >
        <button
          class="border-[#8F3976] hover:bg-[#262930] border px-4 py-1 rounded-md text-lg"
          type="button">Contactame</button
        >
      </div>
      <div class="flex gap-2">
        <img
          src="/img/svg/github.svg"
          alt="logo github"
          width="32"
          height="32"
        />
        <img
          src="/img/svg/linkedin.svg"
          alt="logo linkedIn"
          width="32"
          height="32"
        />
      </div>
    </div>
    <div
      class="w-28 h-28 md:w-32 md:h-32 lg:w-96 lg:h-96 bg-white rounded-full"
    >
    </div>
  </div>
</section>
