<section
  id="about"
  class="mb-20 md:h-screen flex items-center xl:w-[70%] md:m-auto"
>
  <div
    class="flex items-center mt-12 flex-col-reverse md:flex-row gap-8 md:gap-0"
  >
    <div class="flex flex-col justify-center md:justify-end flex-1">
      <h1
        class="text-4xl text-center md:text-left md:text-5xl lg:text-6xl font-semibold mb-1 md:mb-3"
      >
        Juan Rodriguez
      </h1>
      <h2
        class="text-2xl md:text-3xl lg:text-3xl font-light text-center md:text-left
       bg-gradient-to-r from-[#603ce0] from-0% via-[#355eab] via-15% to-[#2280a5] to-100% bg-clip-text text-transparent"
      >
        FrontEnd Developer
      </h2>
      <div class="my-5 w-full md:w-3/4 border-t"></div>
      <p
        class="w-full text-balance md:w-4/5 text-base md:text-lg leading-7 md:leading-8 my-5"
      >
        Desarrollador <strong class="text-[#90a1c5]">frontend</strong> innovador,
        apasionado por la creación de experiencias digitales
        <strong class="text-[#90a1c5]">excepcionales</strong>. Experto en el
        diseño y desarrollo de interfaces intuitivas, fusionando habilidades
        técnicas con un enfoque centrado en el
        <strong class="text-[#90a1c5]">usuario</strong>. Busco constantemente
        elevar el estándar en la
        <strong class="text-[#90a1c5]">interacción digital</strong>, creando
        soluciones que cautiven e inspiren a cada usuario, impulsando así la
        innovación en cada proyecto.
      </p>
      <div class="flex flex-col md:flex-row mb-5 gap-5">
        <button
          class="bg-[#39468f] hover:bg-[#242c58] px-4 py-1 rounded-md text-lg"
          type="button">Descargar CV</button
        >
        <a
          href="mailto:juandavid.rodriguez0222@gmail.com"
          target="_blank"
          class="border-[#39468f] hover:bg-[#242c58] border px-4 py-1 rounded-md text-lg"
          type="button">Contactame</a
        >
      </div>
      <div class="flex justify-center md:justify-start gap-2">
        <a href="https://github.com/JuanDavidRod/" target="_blank" rel="no ">
          <img
            src="/img/svg/github.svg"
            alt="logo github"
            width="32"
            height="32"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/juan-david-rodriguez-hernandez-64142225a/"
          target="_blank"
        >
          <img
            src="/img/svg/linkedin.svg"
            alt="logo linkedIn"
            width="32"
            height="32"
          />
        </a>
      </div>
    </div>
    <div>
      <img
        class={`aspect-video object-contain w-60 h-60 md:w-60 md:h-60 lg:w-80 lg:h-80 xl:w-96 xl:h-96 rounded-full`}
        src={`/img/avatar.png`}
        alt={`imagen avatar`}
        loading="lazy"
      />
    </div>
  </div>
</section>
