<h1 class="text-6xl font-semibold mb-16">Experiencia</h1>
<ul class="my-5">
  <li class="flex gap-10">
    <div class="flex-1 flex flex-col">
      <h3 class="text-2xl">
        Software Engineer |
        <span class="font-bold">INDRA COMPANY</span>
      </h3>
      <span class="text-sm font-bold text-zinc-600">Desarrollador React</span>
      <span class="text-sm text-zinc-600">Enero/24 - Actualidad</span>
      <p>
        Participo actualmente en el desarrollo de portales de uso interno para
        Movistar Ecuador. He creado un portal usando ultimas tecnologias
        mejorando el performance y usabilidad del portal.
      </p>
    </div>
  </li>
  <li class="flex gap-10">
    <div class="flex-1 flex flex-col">
      <h4 class="text-2xl">
        Software Engineer |
        <span class="font-bold">INDRA COMPANY</span>
      </h4>
      <span class="text-sm font-bold text-zinc-600"
        >Desarrollador React Native</span
      >
      <span class="text-sm text-zinc-600">Diciembre/23 - Noviembre/22</span>
      <p>
        Participe en el desarrollo de la aplicación móvil de Colsanitas para
        Colombia. Pude reducir los tiempos de ingreso al acceder en el modulo de
        centro medico virtual.
      </p>
    </div>
  </li>
  <li class="flex gap-10">
    <div class="flex-1">
      <h4 class="text-2xl">
        Lider de equipo de desarrollo |
        <span class="font-bold">DROI</span>
      </h4>
      <span class="text-sm text-zinc-600">Junio/21 - Noviembre/22</span>
      <p>
        Participe en el desarrollo de aplicativos para empresas privadas y
        publicas. Implemente metodologias para mejorar el area de desarrollo
        mejorando la calidad software.
      </p>
    </div>
  </li>
  <li class="flex gap-10">
    <div class="flex-1">
      <h4 class="text-2xl">
        Desarrollador FullStack |
        <span class="font-bold">DROI</span>
      </h4>
      <span class="text-sm text-zinc-600"> Septiembre/18 - Junio/21</span>
      <p>
        Participe en el desarrollo del producto principal de la empresa.
        Implementando nuevas tecnologias y el uso de buenas practicas de
        programacion para mejorar el producto principal de la empresa.
      </p>
    </div>
  </li>
</ul>
<style>
  li {
    width: 60%;
    height: 150px;
    padding: 10px 20px;
    margin: 30px 0;
    background-color: #4141414d;
    backdrop-filter: blur(4px);
    border: 1px solid #5b5b5b33;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 0px #00000094;
  }
</style>
