<h1 class="text-4xl font-semibold">Experiencia</h1>
<ul class="my-5">
  <li>Indra Company - Software Engineer/ Desarrollador React</li>
  <li>Indra Company - Software Engineer/ Desarrollador React Native</li>
  <li>Agencia Droi S.A.S - Lider de equipo de desarrollo</li>
  <li>Agencia Droi S.A.S - Desarrollador fullStack</li>
</ul>
