<header class="px-5">
  <nav class="w-full">
    <ul
      class="hidden mt-8 rounded-2xl justify-center items-center font-semibold py-3 w-full
      max-w-4xl mx-auto md:flex md:gap-20 md:text-lg
      text-white bg-gradient-to-r from-[#603ce0] from-0% via-[#355eab] via-15% to-[#2280a5] to-100%"
    >
      <li class="divider">
        <a href="/#about">Acerca de mi</a>
      </li>
      <li class="divider">
        <a href="/#experience">Experiencia</a>
      </li>
      <li>
        <a href="/#proyects">Proyectos</a>
      </li>
    </ul>
  </nav>
</header>
<style>
  ul {
    box-shadow: 4px 4px 20px 0px #0f10128c;
  }
  ul > li {
    position: relative;
  }
  ul > li.divider::after {
    content: '';
    border: solid 1px white;
    border-radius: 100%;
    position: absolute;
    height: 18px;
    top: 5px;
    left: 135%;
  }

  @media (max-width: 640px) {
    ul > li.divider::after {
      display: none;
    }
  }
</style>
