<header>
  <nav>
    <ul
      class="bg-white flex mt-8 mx-auto rounded-2xl justify-center items-center gap-8 font-bold text-lg w-[450px] py-2"
    >
      <li>
        <div class="h-8 w-8 bg-black rounded-full"></div>
      </li>
      <li class="divider">Experiencia</li>
      <li class="divider">Proyectos</li>
      <li>Contacto</li>
    </ul>
  </nav>
</header>
<style>
  ul > li {
    position: relative;
  }
  ul > li.divider::after {
    content: '';
    border: solid 1px black;
    border-radius: 100%;
    position: absolute;
    height: 18px;
    top: 5px;
    left: 115%;
  }
</style>
