---
import ProyectCard from '../components/ui/ProyectCard.astro'

const dataProyects = [
  {
    name: 'Gesadmin',
    description:
      'Gesadmin es un gestor administrativo para ayudar a pequeñas y medianas empresas a tener un mejor control de su negocio.',
    participation:
      'Participe en la mejora de rendimiento del proyecto usando optimizaciones en base de datos y en codigo nativo, llevando buenas practicas de programación.',
  },
  {
    name: 'App Colsanitas',
    description:
      'Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium consequat. Nibh sem ut in magna suspendisse.',
    participation:
      'Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium consequat. Nibh sem ut in magna suspendisse.',
  },
  {
    name: 'Probosques',
    description:
      'Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium consequat. Nibh sem ut in magna suspendisse.',
    participation:
      'Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium consequat. Nibh sem ut in magna suspendisse.',
  },
  {
    name: 'Expo Bosques',
    description:
      'Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium consequat. Nibh sem ut in magna suspendisse.',
    participation:
      'Lorem ipsum dolor sit amet consectetur. Lorem platea sed a pretium consequat. Nibh sem ut in magna suspendisse.',
  },
]
---

<h1 class="text-6xl font-semibold">Proyectos</h1>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-10 my-5">
  {
    dataProyects.map(({ name, description, participation }) => {
      return (
        <ProyectCard
          name={name}
          description={description}
          participation={participation}
        />
      )
    })
  }
</div>
