---

---

<div
  class="flex gap-10 relative py-5 px-10 my-12 bg-[#4141414d] border-solid border border-[#5b5b5b33] rounded-md shadow-[0px_1px_20px_0px_#00000094] backdrop-blur-sm"
>
  <div
    class="absolute right-5 bg-[#15161a] px-10 rounded-2xl py-2 text-sm text-center"
  >
    <span>Enero/2024 - Presente</span>
  </div>
  <div
    class="absolute left-5 top-[-20px] bg-slate-50 text-black px-10 rounded-2xl py-2 text-sm text-center"
  >
    <span>INDRA COMPANY</span>
  </div>
  <div class="flex-1 flex flex-col">
    <h3 class="text-3xl">Software Engineer</h3>
    <span class="text-base font-light">Desarrollador React</span>
    <p class="mt-4 w-4/5 font-normal text-lg">
      Participo actualmente en el desarrollo de portales de uso interno para
      Movistar Ecuador. He creado un portal usando ultimas tecnologias mejorando
      el performance y usabilidad del portal.
    </p>
  </div>
</div>
